<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>CSCI 3308 Three Headed Lizards</title>
    <style>
      .bg-img {
		  min-width: 100%;
		  height: 100%;
		  padding: 0;
          background-image: url("/img/backgroundsky.jpg");
          background-size: cover;
		  position: absolute;
      }
	    .position{padding-top: 5%;}
	    .title{
			 font-size:300%;
			 color:#FFFFFF;
			 margin: 30px auto;
			 max-width: 1200px;
			 background-color: #FFFFFF;
			 background-color:rgba(0,0,0,0);
			 border:rgba(0,0,0,0);
			 padding-top: 5%;

		 }
    </style>
</head>
<body>
<div class="bg-img"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html">
    <img class="rounded-circle" src="/img/drone.png" alt="" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
                   <a class="nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/usersall">High Scores</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
    </div>
    </div>
  </nav>
	<div class="row justify-content-center">
		<div class="card col-md-6 title">
			<label for="title" class="row justify-content-center text-center">Fly your drone and have fun with your friends!</label>
		</div>
	</div>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-4 position">
                <div class="card">
                    <div class="card-header row justify-content-center"><h2>Login</h2></div>
                    <div class="card-body">
                        <form action="submitloginform" method="post">
                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    <input type="text" id="user_name" class="form-control" name="username" required autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me (This button actually does something)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>
</html>
